@mixin my-mixin($color, $height) {
  color: $color;
  height: $height;
}
@mixin my-mixin2($color, $height) {
  color: $color;
  height: $height;

  @extend %flex-center;
}

@mixin font($size, $height: $size, $spacing: -0.2, $weight: 500, $style: normal) {
  font-size: $size;
  line-height: $height;
  letter-spacing: $spacing;
  font-weight: $weight;
  font-style: $style;
}

// @include font($size, $height: $size, $spacing: -0.2, $weight: 500, $style: normal);

@mixin hover-dark($color, $percent: 20%) {
  background-color: mix(black, $color, $weight: $percent);
}
@mixin hover-color($color, $percent: 20%) {
  background-color: mix($color, $color, $weight: $percent);
}

