:root {
  --burger-line: #ffffff;
  --burger-line-focus: #b4278e;
  --burger-background: #FF3E79;
  --burger-line-active: transparent;
}

.burger-menu {
    position: relative;
    margin: 0;
    padding: 0;
    width: 40px;
    height: 40px;
    font-size: 0;
    text-indent: -9999px;
    appearance: none;
    box-shadow: none;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: var(--burger-background);
    margin-right: 16px;
}

.burger-menu:active {
  transform: scale(0.9);
}

.burger-menu::before {
  content: none;
  position: absolute;
  top: 4px;
  right: -20px;
  width: 2px;
  height: 32px;
  border-radius: 1px;
  background-color: var(--fourth-background);
}

.burger-menu__line {
    position: absolute;
    top: 19px;
    left: 12px;
    height: 2px;
    width: 10px;
    border-radius: 1px;
    background-color: var(--burger-line);
    transition: transform 0.34s linear;
}

.burger-menu__line::before,
.burger-menu__line::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    border-radius: 1px;
    background-color: var(--burger-line);
}

.burger-menu__line::before {
    top: -7px;
    width: 18px;
}

.burger-menu__line::after {
    bottom: -7px;
    width: 14px;
}

@media (min-width: 580px) {
  .burger-menu {
    margin-right: 43px;
  }

  .burger-menu::before {
    content: '';
  }
}