.page__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 16px;
  font-family: 'TT Lakes Condensed', sans-serif;
  color: var(--main-color);
  background-color: var(--second-background);
}

.status {
  position: relative;
  display: flex;
  min-width: 116px;
  gap: 16px;
  justify-content: right;
}

.status::before {
  content: '';
  position: absolute;
  top: 4px;
  left: 0;
  width: 2px;
  height: 32px;
  border-radius: 1px;
  background-color: var(--fourth-background);
}

@media (min-width: 580px) {
  .page__header {
    padding: 18px 24px;
  }

  .header__feedback {
    display: flex;
  }

  .feedback__contacts {
    display: flex;
    gap: 16px;
    margin-right: 22px;
  }
}

@media (min-width: 1000px) {
  .page__header {
    display: none;
  }
}