.aside {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 320px;
  max-width: 360px;
  width: 100%;
  max-height: 100vh;
  height: 100%;
  padding: 18px 16px 32px;
  display: flex;
  flex-direction: column;
  z-index: 2;
  font-family: 'TT Lakes Condensed', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: var(--main-color);
  background-color: var(--second-background);
  transition: transform 0.34s ease-in-out, filter, 0.34s ease-in-out;
}

.page__aside {
  transform: translateX(-100%);
}

.aside--active {
  transform: translateX(0);
  filter: drop-shadow(16px 0px 32px rgba(14, 24, 80, 0.2));
}

.aside__header {
  padding: 0;
  margin-bottom: 22px;
}

.aside__button-close {
  margin-right: 16px;
}

.nav__list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 32px;
}

.nav__button--active {
  color: var(--second-color);
  position: relative;
}

.nav__button--active::before {
  content: "";
  position: absolute;
  top: calc((24px - 32px) / 2);
  left: -20px;
  width: 8px;
  height: 32px;
  line-height: 24px;
  border-radius: 4px;
  background-color: var(--third-background);
}

.aside__footer {
  margin-top: auto;
}

.aside__contacts {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}

.aside__communication {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 8px;
}

.communication__link--phone {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6px;
}

.aside__switch-language {
  display: flex;
  gap: 7px;
}

.switch-language__label {
  text-transform: uppercase;
}

.switch-language__button {
  appearance: none;
  position: absolute;
}

.switch-language__button:checked + .switch-language__label{
  color: var(--second-color);
}

@media (min-width: 360px) {
  .aside {
    max-width: 320px;
  }
}
