.services {
  font-family: 'TT Lakes Condensed', sans-serif;
  color: var(--main-color);
  background-color: var(--main-background);
}

.main__services {
  padding: 0 16px 19px;
  position: relative;
}

.services__header {
  padding: 24px 0;
}

.status__button--services {
  background-color: var(--transparent-background);
  border-radius: 5px;
}

.status__button--services:hover {
  background-color: transparent;
}

.status__button--services:hover .status__img-services {
  background-color: var(--button-focus);
}

.status__text {
  color: var(--main-color);
}

.status__img-services {
  border-radius: 50%;
  background-color: var(--buttons-background);
  transition: transform 0.1s ease-in-out, background-color 0.34s ease-in-out;
}

.status--hidden {
  display: none;
}

@media (min-width: 580px) {
  .main__services {
    padding: 0 24px 25px;
    position: relative;
  }

  .services__header {
    padding: 24px 0 32px;
  }

  .services__list {
    margin-bottom: 32px;
  }
}

@media (min-width: 1000px) {
  .main__services {
    padding: 42px 32px 21px;
  }

  .services__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-right: -10px;
    margin-bottom: 8px;
    padding: 0;
  }

  .services__title {
    margin: 0;
  }

  .services__title::before {
    left: -32px;
  }

  .services__list {
    overflow-x: hidden;
  }

  .status {
    display: flex;
  }

  .status::before {
    content: none;
  }

  .status__text {
    margin-right: 8px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: right;
    letter-spacing: -0.2px;
  }
}