.services__menu {
  margin-right: -16px;
  margin-bottom: 24px;

  @media (min-width: $breakpoint_sm) {
    & {
      margin-right: -24px;
      margin-bottom: 32px;
    }
  }

  @media (min-width: $breakpoint_md) {
    & {
      margin-right: -10px;
      margin-bottom: 8px;
    }
  }
}

.menu {
  position: relative;

  &::after {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    display: block;
    background-image: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
    width: 24px;
    height: 40px;
  }

  &__list {
    display: flex;
    overflow-x: scroll;
  }

  &__button {
    white-space: nowrap;
    cursor: pointer;
    padding: 8px 14px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
    border-radius: 6px;
    color: $second-color;

    &--active {
    background-color: $second-bg;
    border: 2px solid $active-tab-border;
    box-sizing: border-box;
  }
  }

  @media (min-width: $breakpoint_md) {
    &::after {
      content: none;
    }

    &__list {
      overflow: auto;
    }
  }
}
