.periphery {
  margin-bottom: 24px;

  @media (min-width: $breakpoint_sm) {
    margin-bottom: 32px;
  }

  &__swiper {
    position: relative;
    margin-right: -16px;

    @media (min-width: $breakpoint_sm) {
      margin-right: 0;
      margin-bottom: 24px;
    }

    &::after {
      position: absolute;
      content: '';
      top: 0;
      right: 0;
      bottom: 0;
      display: block;
      background-image: linear-gradient(
        -90deg,
        #f8f8f8 16.84%,
        rgba(248, 248, 248, 0.0001) 100%
      );
      width: 24px;
      z-index: 2;

      @media (min-width: $breakpoint_sm) {
        content: none;
      }
    }
  }

  &__title-wrapper {
    @extend %section-title-wrapper;
  }

  &__title {
    @extend %section-title;
  }

  &__list {
    @extend %swiper-list;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-basis: 240px;
    max-height: 160px;
    padding: 16px;
    box-sizing: border-box;
    background: $second-bg;
    border: 1px solid $fourth-bg;
    border-radius: 6px;

    @media (min-width: $breakpoint_sm) {
      flex-basis: 224px;
    }

    @media (min-width: $breakpoint_md) {
      flex-basis: 240px;
    }

    &-title {
      font-weight: 500;
    }
  }

  &__button {
    @extend %section-button;
    align-self: flex-end;

    &:hover {
      @include hover-color($buttons-bg, 10%);

      &::before {
        background-color: $main-bg;
      }

      &::after {
        background-color: $main-bg;
      }
    }
  }
}
