.price {
  letter-spacing: 0.2px;

  &__subtitles {
    @extend %price-subtitle;
    padding: 0 16px;

    @media (min-width: $breakpoint_sm) {
      display: grid;
      gap: 20px;
      grid-template-columns: 1fr 74px 81px 119px;
      margin-bottom: 16px;
    }

    @media (min-width: $breakpoint_md) {
      gap: 120px;
      padding: 0 24px;
    }
  }

  &__subtitle {
    font-weight: 500;
  }

  &__swiper {
    position: relative;
    margin: 0 -16px 16px -8px;

    @media (min-width: $breakpoint_sm) {
      margin: 0 0 24px;
      padding: 0 16px;
      border-radius: 6px;
      background-color: $second-bg;
    }

    @media (min-width: $breakpoint_md) {
      margin-bottom: 32px;
      padding: 0 24px;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 2;
      width: 24px;
      background-image: linear-gradient(
        270deg,
        #f8f8f8 16.84%,
        rgba(248, 248, 248, 0.0001) 100%
      );

      @media (min-width: $breakpoint_sm) {
        content: none;
      }
    }
  }

  &__title {
    @extend %section-title;

    &-wrapper {
      @extend %section-title-wrapper;

      @media (min-width: $breakpoint_sm) {
        margin-bottom: 31px;
      }
    }
  }

  &__list {
    margin-bottom: 16px;

    @media (min-width: $breakpoint_sm) {
      margin-bottom: 0;
      display: flex;
      flex-direction: column;
    }
  }

  &__item {
    position: relative;
    flex-basis: 260px;
    height: 200px;
    padding: 16px;
    border-radius: 6px;
    box-sizing: border-box;
    background-color: $second-bg;

    @media (min-width: $breakpoint_sm) {
      flex-basis: auto;
      height: auto;
      padding: 16px 0 16px;
      border-radius: 0;
      background-color: transparent;
    }

    &:not(:last-of-type):after {
      @media (min-width: $breakpoint_sm) {
        position: absolute;
        content: '';
        display: block;
        right: 0;
        bottom: 0;
        left: 0;
        height: 1px;
        background-color: $fourth-bg;
      }
    }
  }

  &__service-list {
    display: grid;
    grid-template-columns: 1fr 119px;
    gap: 16px;
    align-items: center;

    @media (min-width: $breakpoint_sm) {
      grid-template-columns: 1fr 74px 81px 119px;
      gap: 20px;
    }

    @media (min-width: $breakpoint_md) {
      gap: 120px;
    }
  }

  &__info {
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 20px;
    color: $main-color;

    @media (min-width: $breakpoint_sm) {
      max-width: 421px;
    }
  }

  &__button {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-align: left;
    color: $main-color;

    &-text {
      margin-right: 8px;
    }

    &-img {
      color: $buttons-bg;
    }
  }
}

.service-item {
  &--service {
    grid-column: 1 / span 2;

    @media (min-width: $breakpoint_sm) {
      grid-column: 1;
    }
  }

  &--price {
    grid-column: 1 / 2;

    @media (min-width: $breakpoint_sm) {
      grid-column: 2;
    }
  }

  &--date {
    grid-column: 1 / 2;

    @media (min-width: $breakpoint_sm) {
      grid-column: 3;
    }
  }

  &--button {
    grid-column: 2;
    align-self: flex-end;
    margin-bottom: -4px;

    @media (min-width: $breakpoint_sm) {
      grid-column: 4;
      margin-bottom: 0;
    }
  }

  &__title {
    @extend %price-subtitle;
  }

  &__desc {
    font-size: 14px;
    line-height: 18px;
    color: $main-color;
  }

  &__button {
    @extend %modal-and-price-button;

    border-radius: 16px;
    padding: 4px 16px 4px 12px;
    width: 119px;
  }

}
