.main__services {
  padding: 0 16px 19px;
  position: relative;

  @media (min-width: $breakpoint_sm) {
    padding: 0 24px 25px;
    position: relative;
  }

  @media (min-width: $breakpoint_md) {
    padding: 42px 32px 21px;
  }
}

.services {
  font-family: $default-font;
  color: $main-color;
  background-color: $main-bg;

  &__header {
    padding: 24px 0;

    @media (min-width: $breakpoint_sm) {
      padding: 24px 0 32px;
    }

    @media (min-width: $breakpoint_md) {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-right: -10px;
      margin-bottom: 8px;
      padding: 0;
    }
  }

  &__title {
    @media (min-width: $breakpoint_md) {
      margin: 0;

      &::before {
        left: -32px;
      }
    }
  }

  &__list {
    @media (min-width: $breakpoint_sm) {
      margin-bottom: 32px;
    }

    @media (min-width: $breakpoint_md) {
      overflow-x: hidden;
    }
  }

}

.services__status {
  &::before {
    @media (min-width: $breakpoint_md) {
      content: none;
    }
  }
}

.status {
    &__button--services {
    background-color: $transparent-bg;
    border-radius: 5px;
  }

  &__button--services:hover {
    background-color: transparent;
  }

  &__button--services:hover &__img-services {
    background-color: $buttons-focus;
  }

  &__text {
    color: $main-color;

    @media (min-width: $breakpoint_md) {
      margin-right: 8px;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      text-align: right;
      letter-spacing: -0.2px;
    }
  }

  &__img-services {
    border-radius: 50%;
    background-color: $buttons-bg;
    transition: transform 0.1s ease-in-out, background-color 0.34s ease-in-out;
  }

  &--hidden {
    display: none;
  }

  @media (min-width: $breakpoint_md) {
    display: flex;
  }
}
