.page__main {
  margin-bottom: 40px;

  @media (min-width: $breakpoint_sm) {
    margin-bottom: 47px;
  }

  @media (min-width: $breakpoint_md) {
    margin-bottom: 50px;
  }

  @media (min-width: $breakpoint_xl) {
    grid-column: 2;
  }
}

.main__services {
  position: relative;
  padding: 0 16px;

  @media (min-width: $breakpoint_sm) {
    position: relative;
    padding: 0 24px;
  }

  @media (min-width: $breakpoint_xl) {
    padding: 42px 32px 0;
  }
}

.services {
  font-family: $default-font;
  color: $main-color;
  background-color: $main-bg;

  &__header {
    padding: 24px 0;

    @media (min-width: $breakpoint_xl) {
      padding: 24px 0 32px;
    }

    @media (min-width: $breakpoint_xl) {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-right: -10px;
      margin-bottom: 8px;
      padding: 0;
    }
  }

  &__list {
    @media (min-width: $breakpoint_sm) {
      margin-bottom: 32px;
    }

    @media (min-width: $breakpoint_md) {
      overflow-x: hidden;
    }
  }

  &__status {
    &::before {
      @media (min-width: $breakpoint_md) {
        content: none;
      }
    }
  }
}

.status {
  @media (min-width: $breakpoint_xl) {
    .status {
      display: flex;
    }
  }

  &__button--services {
    display: flex;
    align-items: center;
    border-radius: 5px;
    width: max-content;
    background-image: none;
    background-color: $transparent-bg;

    @media (min-width: $breakpoint_md) {
      gap: 8px;
    }
  }

  &__button--services:hover {
    background-color: transparent;
  }

  &__button--services:hover &__img--services {
    @include hover-dark($buttons-bg)
  }

  &__text {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
    white-space: nowrap;
    color: $main-color;

    @media (min-width: $breakpoint_md) {
      text-align: right;
    }
  }

  &__img--services {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $buttons-bg;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 0.1s ease-in-out, background-color 0.34s ease-in-out;
  }

  &__img--services-application {
    background-image: url('../assets/img/application.svg');
  }

  &__img--services-status {
    background-image: url('../assets/img/status.svg');
  }

  &--hidden {
    display: none;

    @media (min-width: $breakpoint_xl) {
      display: flex;
    }
  }
}
