.page__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 16px;
  font-family: $default-font;
  color: $main-color;
  background-color: $second-bg;

  @media (min-width: $breakpoint_sm) {
    padding: 18px 24px;
  }

  @media (min-width: $breakpoint_xl) {
    display: none;
  }
}

.header__logo {
  margin-right: auto;
}

.header__feedback {
  @media (min-width: $breakpoint_sm) {
    & {
      display: flex;
    }
  }
}

.feedback__contacts {
  @media (min-width: $breakpoint_sm) {
    margin-right: 22px;
  }
}

.contacts {
  @media (min-width: $breakpoint_sm) {
    display: flex;
    gap: 16px;
  }
}

.contacts__button--call {
  background-image: url('../assets/img/call.svg');
}

.contacts__button--feedback {
  background-image: url('../assets/img/message.svg');
}

.contacts__button--profile {
  background-image: url('../assets/img/profile.svg');
}

.status {
  position: relative;
  display: flex;
  gap: 16px;
  justify-content: right;
  min-width: 116px;

  &::before {
    content: '';
    position: absolute;
    top: 4px;
    left: 0;
    width: 2px;
    height: 32px;
    border-radius: 1px;
    background-color: $fourth-bg;
  }
}

.status__button--application {
  background-image: url('../assets/img/application.svg');
}

.status__button--status {
  background-image: url('../assets/img/status.svg');
}
