.services__menu {
  margin-bottom: 24px;

  @media (min-width: $breakpoint_sm) {
    margin-bottom: 32px;
  }

  @media (min-width: $breakpoint_md) {
    margin-right: -10px;
    margin-bottom: 8px;
  }
}

.menu {
  position: relative;
  overflow: auto;

  @extend %blur;

  &__list {
    display: flex;
    overflow-x: auto;

    @media (min-width: $breakpoint_md) {
      max-width: 1064;
      flex-wrap: wrap;
    }
  }

  &__button {
    white-space: nowrap;
    cursor: pointer;
    padding: 8px 14px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
    border-radius: 6px;
    color: $second-color;

    &--active {
      background-color: $second-bg;
      border: 2px solid $active-tab-border;
      box-sizing: border-box;
    }
  }
}
