.periphery {
  margin-bottom: 24px;

  @media (min-width: $breakpoint_sm) {
    margin-bottom: 32px;
  }

  &__swiper {
    position: relative;
    margin-left: -16px;
    margin-right: -16px;

    @media (min-width: $breakpoint_sm) {
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 24px;
    }

    @extend %blur;

    @media (min-width: $breakpoint_sm) {
      &::before,
      &::after {
        content: none;
      }
    }
  }

  &__title-wrapper {
    @extend %section-title-wrapper;
  }

  &__list {
    @extend %swiper-list;
    margin-left: 16px;

    @media (min-width: $breakpoint_sm) {
      margin-left: 0;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-basis: 240px;
    height: 160px;
    padding: 16px;
    box-sizing: border-box;
    background: $second-bg;
    border: 1px solid $fourth-bg;
    border-radius: 6px;

    @media (min-width: $breakpoint_sm) {
      flex-basis: 224px;
    }

    @media (min-width: $breakpoint_md) {
      flex-basis: 240px;
    }

    &-title {
      font-weight: 500;
    }
  }

  &__button {
    @extend %section-button;
    align-self: flex-end;

    &:hover {
      @include hover-color($buttons-bg, 10%);

      &::before {
        background-color: $main-bg;
      }

      &::after {
        background-color: $main-bg;
      }
    }
  }
}
